#footer {
	width: 100%;
	padding: 0px auto;
	background-color: #535353;
	padding: 30px 50px 20px 50px;
	margin: 100px 0 0 0;
	.ft_menu {
		width: 1180px;
		margin: 0 auto;
		margin-bottom: 20px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		h2 {
			a {
				display: block;
				font: bold 40px/1 'Italiana';
				color: #eee;
				letter-spacing: 2px;
				float: left;
			}
		}
		p {
			font: 15px/1 'Pretendard-Regular';
			color: #999;
			float: left;
		}
		.inner_right {
			float: right;
			li {
				float: left;
				margin-left: 20px;
				a {
					font: 15px/1px 'Pretendard-Regular';
					color: #999;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
	.ft_contents {
		width: 1180px;
		margin: 0 auto 20px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		ul {
			li {
				font: 15px/1 'Pretendard-Regular';
				color: #999;
				span {
					font: 15px/1.8 'Pretendard-Regular';
					&::after {
						content: '|';
						padding: 0 3px 0 8px;
						color: #999;
					}
					&:last-child {
						&::after {
							content: none;
						}
					}
				}
			}
		}
	}
	.sns {
		width: 1180px;
		margin: 0 auto;
		border-top: 1px solid #777;
		padding-top: 20px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		ul {
			float: right;
			li {
				float: left;
				margin-left: 20px;
				a {
					font: 20px/1 'Pretendard-Regular';
					color: #ddd;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	#footer {
		margin: 0px;
		width: 100%;
		position: relative;
		.ft_menu {
			width: 100%;
			h2 {
				a {
					display: block;
					width: 100%;
					text-align: center;
				}
			}
			.inner_right {
				width: 100%;
				margin: 40px auto 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				li {
					a {
						display: block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
		.ft_contents {
			width: 100%;
			ul {
				li {
					span {
						display: block;
						width: 100%;
						text-align: center;
						line-height: 30px;
						&::after {
							display: none;
						}
					}
					br {
						display: none;
					}
				}
			}
		}
		.sns {
			width: 100%;
			display: flex;
			justify-content: center;
			text-align: center;
		}
	}
}
